In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("../../../datasets/customer_churn.csv")

In [4]:
df.head()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,Churn
0,Cameron Williams,42.0,11066.80,0,7.22,8.0,2013-08-30 07:00:40,"10265 Elizabeth Mission Barkerburgh, AK 89518",Harvey LLC,1
1,Kevin Mueller,41.0,11916.22,0,6.50,11.0,2013-08-13 00:38:46,"6157 Frank Gardens Suite 019 Carloshaven, RI 1...",Wilson PLC,1
2,Eric Lozano,38.0,12884.75,0,6.67,12.0,2016-06-29 06:20:07,"1331 Keith Court Alyssahaven, DE 90114","Miller, Johnson and Wallace",1
3,Phillip White,42.0,8010.76,0,6.71,10.0,2014-04-22 12:43:12,"13120 Daniel Mount Angelabury, WY 30645-4695",Smith Inc,1
4,Cynthia Norton,37.0,9191.58,0,5.56,9.0,2016-01-19 15:31:15,"765 Tricia Row Karenshire, MH 71730",Love-Jones,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Names            900 non-null    object
 1   Age              900 non-null    float64
 2   Total_Purchase   900 non-null    float64
 3   Account_Manager  900 non-null    int64
 4   Years            900 non-null    float64
 5   Num_Sites        900 non-null    float64
 6   Onboard_date     900 non-null    object
 7   Location         900 non-null    object
 8   Company          900 non-null    object
 9   Churn            900 non-null    int64
dtypes: float64(4), int64(2), object(4)
memory usage: 70.4+ KB

In [6]:
df.isna().sum()

Names              0
Age                0
Total_Purchase     0
Account_Manager    0
Years              0
Num_Sites          0
Onboard_date       0
Location           0
Company            0
Churn              0
dtype: int64

In [7]:
df.head()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,Churn
0,Cameron Williams,42.0,11066.80,0,7.22,8.0,2013-08-30 07:00:40,"10265 Elizabeth Mission Barkerburgh, AK 89518",Harvey LLC,1
1,Kevin Mueller,41.0,11916.22,0,6.50,11.0,2013-08-13 00:38:46,"6157 Frank Gardens Suite 019 Carloshaven, RI 1...",Wilson PLC,1
2,Eric Lozano,38.0,12884.75,0,6.67,12.0,2016-06-29 06:20:07,"1331 Keith Court Alyssahaven, DE 90114","Miller, Johnson and Wallace",1
3,Phillip White,42.0,8010.76,0,6.71,10.0,2014-04-22 12:43:12,"13120 Daniel Mount Angelabury, WY 30645-4695",Smith Inc,1
4,Cynthia Norton,37.0,9191.58,0,5.56,9.0,2016-01-19 15:31:15,"765 Tricia Row Karenshire, MH 71730",Love-Jones,1

In [10]:
X,y=df.loc[:,["Age","Total_Purchase","Account_Manager","Years","Num_Sites"]],df.Churn

In [11]:
X.head()

    Age  Total_Purchase  Account_Manager  Years  Num_Sites
0  42.0        11066.80                0   7.22        8.0
1  41.0        11916.22                0   6.50       11.0
2  38.0        12884.75                0   6.67       12.0
3  42.0         8010.76                0   6.71       10.0
4  37.0         9191.58                0   5.56        9.0

In [12]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Churn, dtype: int64

0    True
1    True
2    True
3    True
4    True
Name: Churn, dtype: bool

In [14]:
(y==1).sum()

150

In [15]:
150/900

0.16666666666666666

## Random  Forest

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
forest1=RandomForestClassifier()

### Train test split  or Hold out method

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [20]:
forest1.fit(X_train,y_train)

RandomForestClassifier()

In [21]:
print(forest1.score(X_train,y_train))
print(forest1.score(X_test,y_test))

1.0
0.8488888888888889

In [22]:
from sklearn.metrics import confusion_matrix

In [23]:
y_pred=forest1.predict(X_test)

In [24]:
confusion_matrix(y_test,y_pred)

array([[171,   7],
       [ 27,  20]])

In [25]:
def forestModel(n=100):
    forest1=RandomForestClassifier(n_estimators=n)
    forest1.fit(X_train,y_train)
    print(forest1.score(X_train,y_train))
    print(forest1.score(X_test,y_test))

In [26]:
forestModel()

0.9985185185185185
0.8711111111111111

In [27]:
forestModel(200)

1.0
0.8533333333333334

In [28]:
forestModel(300)

1.0
0.8488888888888889

In [29]:
forestModel(1000)

1.0
0.8533333333333334

In [30]:

def forestModel1(n=100):
    forest1=RandomForestClassifier(n_estimators=n,criterion="entropy")
    forest1.fit(X_train,y_train)
    print(forest1.score(X_train,y_train))
    print(forest1.score(X_test,y_test))

In [31]:
forestModel1()

1.0
0.8666666666666667

In [34]:
forestModel1(1000)

1.0
0.8577777777777778

## Grid search Cv

In [35]:
from sklearn.model_selection import GridSearchCV

In [36]:
model =RandomForestClassifier()
grid_model=GridSearchCV(model,param_grid={"n_estimators":range(100,1001,100),
                               "criterion":["gini","entropy"]})

In [37]:
grid_model.fit(X,y)

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'n_estimators': range(100, 1001, 100)})

In [38]:
grid_model.cv_results_

{'mean_fit_time': array([0.15041752, 0.27409606, 0.37633109, 0.4966414 , 0.62531695,
        0.74303098, 0.87979064, 0.99517827, 1.12195411, 1.24580822,
        0.13387618, 0.2657445 , 0.39743695, 0.5347703 , 0.66474223,
        0.79278226, 1.01835651, 1.06940923, 1.19162831, 1.33144283]),
 'std_fit_time': array([0.01408297, 0.02228681, 0.00681512, 0.00304109, 0.00341076,
        0.00435446, 0.01838458, 0.00943054, 0.00689474, 0.00930532,
        0.00404721, 0.00315418, 0.00387653, 0.00700284, 0.01099068,
        0.01192633, 0.08509116, 0.02282381, 0.00570706, 0.02312539]),
 'mean_score_time': array([0.01144004, 0.02029018, 0.02754688, 0.0365653 , 0.04465175,
        0.05526443, 0.08490276, 0.07007899, 0.08129253, 0.08835692,
        0.01023145, 0.0184752 , 0.02995729, 0.0365171 , 0.04573059,
        0.05484428, 0.07508588, 0.07176862, 0.08111076, 0.08923302]),
 'std_score_time': array([0.00100097, 0.00204054, 0.00110571, 0.00139435, 0.00048113,
        0.00214132, 0.04590113, 0.00042844, 0.00443478, 0.0018839 ,
        0.00062889, 0.00053624, 0.00331711, 0.00205565, 0.00129014,
        0.00226701, 0.01373236, 0.0021166 , 0.00127514, 0.00260082]),
 'param_criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'gini', 'gini', 'gini', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 100,
                    200, 300, 400, 500, 600, 700, 800, 900, 1000],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'criterion': 'gini', 'n_estimators': 100},
  {'criterion': 'gini', 'n_estimators': 200},
  {'criterion': 'gini', 'n_estimators': 300},
  {'criterion': 'gini', 'n_estimators': 400},
  {'criterion': 'gini', 'n_estimators': 500},
  {'criterion': 'gini', 'n_estimators': 600},
  {'criterion': 'gini', 'n_estimators': 700},
  {'criterion': 'gini', 'n_estimators': 800},
  {'criterion': 'gini', 'n_estimators': 900},
  {'criterion': 'gini', 'n_estimators': 1000},
  {'criterion': 'entropy', 'n_estimators': 100},
  {'criterion': 'entropy', 'n_estimators': 200},
  {'criterion': 'entropy', 'n_estimators': 300},
  {'criterion': 'entropy', 'n_estimators': 400},
  {'criterion': 'entropy', 'n_estimators': 500},
  {'criterion': 'entropy', 'n_estimators': 600},
  {'criterion': 'entropy', 'n_estimators': 700},
  {'criterion': 'entropy', 'n_estimators': 800},
  {'criterion': 'entropy', 'n_estimators': 900},
  {'criterion': 'entropy', 'n_estimators': 1000}],
 'split0_test_score': array([0.86111111, 0.85555556, 0.85555556, 0.86111111, 0.86111111,
        0.86111111, 0.86111111, 0.86111111, 0.86111111, 0.85555556,
        0.85555556, 0.85555556, 0.85555556, 0.85555556, 0.85555556,
        0.85555556, 0.86111111, 0.85      , 0.86666667, 0.85      ]),
 'split1_test_score': array([0.87222222, 0.86666667, 0.86111111, 0.87222222, 0.86666667,
        0.87222222, 0.86666667, 0.86111111, 0.86111111, 0.87222222,
        0.86111111, 0.85555556, 0.84444444, 0.86111111, 0.86666667,
        0.85555556, 0.86111111, 0.86666667, 0.86666667, 0.85555556]),
 'split2_test_score': array([0.89444444, 0.87222222, 0.87222222, 0.86666667, 0.87777778,
        0.87222222, 0.87222222, 0.87777778, 0.87777778, 0.87777778,
        0.86666667, 0.87777778, 0.88333333, 0.88333333, 0.87777778,
        0.88888889, 0.88333333, 0.88888889, 0.88888889, 0.88888889]),
 'split3_test_score': array([0.88333333, 0.88333333, 0.87777778, 0.88888889, 0.87777778,
        0.87777778, 0.88888889, 0.88333333, 0.88333333, 0.88333333,
        0.88333333, 0.88888889, 0.88888889, 0.87777778, 0.87777778,
        0.87222222, 0.87777778, 0.87777778, 0.87777778, 0.87777778]),
 'split4_test_score': array([0.90555556, 0.90555556, 0.90555556, 0.90555556, 0.90555556,
        0.90555556, 0.90555556, 0.90555556, 0.90555556, 0.90555556,
        0.89444444, 0.88888889, 0.89444444, 0.89444444, 0.9       ,
        0.91111111, 0.90555556, 0.90555556, 0.9       , 0.88888889]),
 'mean_test_score': array([0.88333333, 0.87666667, 0.87444444, 0.87888889, 0.87777778,
        0.87777778, 0.87888889, 0.87777778, 0.87777778, 0.87888889,
        0.87222222, 0.87333333, 0.87333333, 0.87444444, 0.87555556,
        0.87666667, 0.87777778, 0.87777778, 0.88      , 0.87222222]),
 'std_test_score': array([0.01571348, 0.01699673, 0.0174271 , 0.01625415, 0.01531561,
        0.01490712, 0.01625415, 0.01648044, 0.01648044, 0.01625415,
        0.01448712, 0.01507184, 0.01968894, 0.01431567, 0.01474055,
        0.02119865, 0.01648044, 0.01892154, 0.01295767, 0.01648044]),
 'rank_test_score': array([ 1, 12, 15,  3,  6,  6,  3,  6,  6,  3, 19, 17, 17, 15, 14, 13,  6,
         6,  2, 20], dtype=int32)}

In [39]:
grid_model.best_estimator_

RandomForestClassifier()

In [40]:
grid_model.best_params_

{'criterion': 'gini', 'n_estimators': 100}

In [41]:
grid_model.best_score_

0.8833333333333334

In [42]:
best_model=RandomForestClassifier(n_estimators=100,criterion="gini")
best_model.fit(X,y)

RandomForestClassifier()

In [ ]:
best_model